@using System.Web.Optimization
@using VeganCounter.BLL.Dtos
@model VeganCounter.UI.ViewModels.VeganFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Vegans"))
{
    @Html.ValidationSummary(true, "Please fix the following error/s.")
    <div class="form-group">
        @Html.LabelFor(m => m.Vegan.Email)
        @Html.TextBoxFor(m => m.Vegan.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vegan.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Vegan.EmailVerify)
        @Html.TextBoxFor(m => m.Vegan.EmailVerify, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Vegan.EmailVerify)
    </div>
    @Html.HiddenFor(m => m.Vegan.CityId , new { Value = 0 })
    @Html.HiddenFor(m => m.Vegan.City.CountryId , new { Value = 0 })
    @Html.HiddenFor(c => c.Vegan.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}